@import '../styles/_variable.scss';
@import '../styles/_mixin.scss';

@keyframes click-wave {
  0% {
    opacity: .25;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.container {
 @include check-control-container;

  .input-checkbox {
    @include input-check-control;
  }

  .input-checkbox:checked ~ .input-checkmark {
    background: var(--green500);
  }
  .input-checkbox:checked ~ .input-checkmark::after {
    display: block;
  }
  .input-checkmark::after {
    @include input-checkmark-background;
  }
}

.input-checkmark {
  @include input-checkmark;
}
