@import "../styles/mixin.scss";

$themeColours: (
        base: (
                "green": var(--green500),
                "orange": var(--orange3),
                "red": var(--berry3),
                "primary": var(--blue3),
                "gray": var(--gray300),
        ),
        hovered: (
                "green-hover": var(--green600),
                "orange-hover": var(--orange1),
                "red-hover": var(--berry2),
                "primary-hover": var(--blue2),
                "gray-hover": var(--gray400),
        )
);


@mixin setThemeBtn {
  @each $color, $value in map-get($themeColours, base) {
    $hoverColor: map-get(map-get($themeColours, hovered), #{$color + "-hover"});

    &-#{$color} {
      @include btnColor($value, $hoverColor);
      &--outline {
        @include btnOutline($value, $hoverColor);
      }
      &--transparent {
        @include btnTransparent($value, $hoverColor);
      }
      &--withIcon {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn {
  @include baseBtn;
  position: relative;

  &--fullWidth {
    width: 100%;
    min-width: 100%;
  }
  &-gray {
    color: var(--gray700);
    path {
      fill: var(--gray700);
    }
  }
  &-small {
    font-size: 1rem;
  }

  &-medium {
    font-size: 1.1rem;
    padding: .7rem .9rem;
  }
  &-disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &Content {
    width: 100%;
  }
  &LoadingContainer {
    @include round-loading-container
  }
  &Loading {
    width: 20px;
    height: 20px;
    transform: translate(50%, -50%);
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    animation: rotation 1s linear infinite;
  }

  @include setThemeBtn;
}
