.selectContainer {
  width: 100%;
  position: relative;

  &Label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.93);
    cursor: pointer;
    padding: 0.3rem .5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray700);

    path {
      fill: var(--gray700);
    }
    &:not([aria-expanded=true]) + .selectList {
      display: none;
      width: 0;
      height: 0;
      overflow: hidden;
    }

    @media screen and (min-width: 768px) {
      padding: 0.8rem 1rem;
      font-size: 1.1rem;
    }
  }
}

.selectList {
  position: absolute;
  z-index: 100;
  top: 2rem;
  width: 100%;
  border: 1px solid var(--gray300);
  border-radius: 0.5rem;
  margin-top: 1rem;
  list-style: none;
  padding: 0.5rem;
  box-shadow: 1px 1px 7px 1px var(--gray300);
  height: auto;
  //max-height: 200px;
  //min-height: 200px;
  overflow: scroll;
  background-color: #fff;
}