$primary: linear-gradient(98.32deg, #89F7FE 4.75%, #66A6FF 95.82%);
$green: linear-gradient(98.32deg, #A9F99E 4.75%, #46ADD5 95.82%);
$yellow: linear-gradient(98.32deg, #FFF5A7 4.75%, #F1AD29 95.82%);
$red: linear-gradient(98.32deg, #FF7790 4.75%, #F92E2E 95.82%, #EF5454 95.82%);
$disabled: linear-gradient(98.32deg, #E2E2E2 4.75%, #99A1A4 95.82%);
$base-color: #17a0ff;

$lg: 85%;
$md: 45%;
$sm: 25%;
