$primary-hover: linear-gradient(98.32deg, #7dd9f5 4.75%, #66A6FF 95.82%);
$primary: #66A6FF;
$green: #46d5a3;
$green-hover: linear-gradient(98.32deg, #A9F99E 4.75%, #46ADD5 95.82%);
$yellow: #ffbd3c;
$yellow-hover: linear-gradient(98.32deg, #fadd86 4.75%, #F1AD29 95.82%);
$red: #F92E2E;
$red-hover: linear-gradient(98.32deg, #FF7790 4.75%, #F92E2E 95.82%, #EF5454 95.82%);
$disabled: #99A1A4;
$base-color: #17a0ff;

$lg: 85%;
$md: 45%;
$sm: 25%;

$btn-box-shadow: inset 2px 2px 2px 0 rgba(255,255,255,.5),
7px 7px 20px 0 rgba(0,0,0,.1),
4px 4px 5px 0 rgba(0,0,0,.1);
