@import '../styles/_variable.scss';
@import '../styles/_mixin.scss';
.container {
  @include check-control-container;
}
.radio {
  @include input-check-control
}

.radio:checked ~ .radioMark {
  background: var(--green500)
}
.radio:checked ~ .radioMark::after {
  display: block;
}
.radioMark::after {
  @include input-checkmark-background;
  width: 4px;
  height: 4px;
  border: 3px solid white;
  border-radius: 50%;
}

.radioMark {
  @include input-checkmark;
  border-radius: 50%;
}
