.my-button {
    width: 100px;
    padding: 10px 18px;
    border-radius: 7px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    margin: 0.3rem;
}

.my-button-large {
    width: 100%;
    margin: 0.3rem 0;
}

.btn-primary {
    background-color: #4C88F3;
    color:  #fff;
}
.btn-outline-primary {
    border: 1px solid #4C88F3;
    background: transparent;
    color: #4C88F3;
}

.btn-primary:hover,
.btn-outline-primary:hover {
    background-color: #2d65c9;
    color:  #fff;
}

.btn-yellow {
    background-color: #ffd567;
    color:  #fff;
}
.btn-outline-yellow {
    border: 1px solid #ffd567;
    background: transparent;
    color: #ffd567;
}
.btn-yellow:hover,
.btn-outline-yellow:hover {
    background-color: #fac33e;
    color:  #fff;
}
.btn-red {
    background-color: #FF4151;
    color:  #fff;
}
.btn-outline-red {
    border: 1px solid #FF4151;
    background: transparent;
    color: #FF4151;
}
.btn-red:hover,
.btn-outline-red:hover
{
    background-color: #e72737;
    color:  #fff;
}

.btn-violet {
    background-color: #C9A2F2;
    color:  #fff;
}
.btn-violet:hover,
.btn-outline-violet:hover {
    background-color: #b882f1;
    color:  #fff;
}
.btn-outline-violet {
    border: 1px solid #b882f1;
    background: transparent;
    color: #b882f1;
}

.btn-green {
    background-color: #8bcc89;
    color:  #fff;
}

.btn-outline-green {
    border: 1px solid #8bcc89;
    background: transparent;
    color: #8bcc89;
}

.btn-green:hover,
.btn-outline-green:hover{
    background-color: #5c945a;
    color:  #fff;
}

.btn-disabled {
    background-color: #D4DDE3;
    color:  #fff;
    pointer-events:none;
}
