.search {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &Wrapper {
    position: relative;
    width: 100%;

    &Icon {
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
      path {
        fill: var(--green500);
      }
    }
  }
}