.search {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &Wrapper {
    width: 100%;
  }
}
.searchBtn, .categoryBtn {
  background-color: var(--green500);
  border: 1px solid var(--green500);
  padding: 0 1rem;
  margin: 0;
  color: #fff;
  cursor: pointer;
}

.searchBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 800;
  margin-left: -2rem;
  padding: 0.7rem;

  @media screen and (min-width: 1024px) {
    border-radius: 0 0.7rem 0.7rem 0;
    height: 100%;
  }
}

.categoryBtn {
  border-radius: 0.7rem 0 0 0.7rem;
}