.my-input {
    border: none;
    outline: none;
}

.my-input[type = 'text'],
.my-input[type = 'number'],
.my-input[type = 'email'] {
    padding: 10px 20px;
    border: 1px solid #D4DDE3;
    border-radius: 7px;
    width: 20%;
    font-size: 14px;
}
.my-input::placeholder {
    font-size: 14px;
}
.my-input-block[type = 'text'],
.my-input-block[type = 'number'],
.my-input-block[type = 'email'] {
    width: 100%;
}

.my-input[type = 'text']:hover,
.my-input[type = 'number']:hover,
.my-input[type = 'email']:hover,
.my-input[type = 'text']:focus,
.my-input[type = 'number']:focus,
.my-input[type = 'email']:focus {
    box-shadow: 0 0 2px 0 #4C88F3;
}

.my-input-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.label {
    margin: 0 10px 10px 0;
}
