@import '../styles/_variable.scss';
@mixin inputStyle {
  padding: 10px 20px;
  border: 1px solid #D4DDE3;
  border-radius: 7px;
  font-size: 14px;
  outline: none;
}

.input-text[type = 'text'],
.input-password[type = 'password']
{
  @include inputStyle;

  &:focus {
    border: 1px solid $base-color;
  }
}
.input-success[type = 'text'],
.input-success[type = 'password'] {
  border: 1px solid #2bce39;
}
.input-danger[type = 'text'],
.input-danger[type = 'password'] {
  border: 1px solid #ce2b2b;
}
.input-disabled[type = 'text'],
.input-disabled[type = 'password'] {
  background: rgba(208, 219, 224, 0.25);
  pointer-events: none;
}

.input-lg {
   width: 85%;
}
.input-md {
   width: 45%;
}
.input-sm {
  width: 25%;
}

@media screen and (max-width: 600px) {
  .input-lg,
  .input-md,
  .input-sm,
  input[type='text'],
  input[type='password'] {
    width: 100%;
    margin-top: 0;
  }
}
.input-xs {
   width: 150px;
}
